{% extends 'core/base.html' %}
{% block title %}Receive Batch - Pharmacy{% endblock %}
{% block page_title %}Receive Stock{% endblock %}
{% block breadcrumb %}Inventory / Receive Batch{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="custom-card">
            <h6 class="fw-bold mb-4">Batch Information</h6>
            <form method="POST">
                {% csrf_token %}
                <div class="row g-4 mb-4">
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">SELECT PRODUCT</label>
                        <select class="form-select bg-light border-0 py-3 rounded-4" name="drug_id" required>
                            <option value="" selected disabled>Choose product...</option>
                            {% for drug in drugs %}<option value="{{ drug.id }}">{{ drug.drug_name }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">BATCH NUMBER</label>
                        <input type="text" class="form-control bg-light border-0 py-3 rounded-4" name="batch_number" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">QUANTITY RECEIVED</label>
                        <input type="number" class="form-control bg-light border-0 py-3 rounded-4" name="quantity" min="1" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">UNIT PRICE (KES)</label>
                        <input type="number" class="form-control bg-light border-0 py-3 rounded-4" name="unit_price" step="0.01" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">MANUFACTURING DATE</label>
                        <input type="date" class="form-control bg-light border-0 py-3 rounded-4" name="mfg_date" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small fw-bold">EXPIRY DATE</label>
                        <input type="date" class="form-control bg-light border-0 py-3 rounded-4" name="expiry_date" required>
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-3 mt-4 pt-3 border-top">
                    <a href="{% url 'inventory' %}" class="btn btn-light px-5 py-3 rounded-pill fw-bold text-dark">Cancel</a>
                    <button type="submit" class="btn btn-dark px-5 py-3 rounded-pill fw-bold">Confirm Stock</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}